body {


    margin: 0;
    padding: 0;


}

.loadScreen {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
}

.steps {
    width: 5px;
    height: 40px;
    background: whiteactivemargin: 0 3px;
}

@media (max-width: 600px) {
    .mpp {
        display:hidden !important;
    }
}